
$bg-color: #000;
$bg-login: #272727;
$color-primary:rgb(91, 0, 0);

$link-hover:rgb(255, 217, 0);

$blue:    #021c42 !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #d63384 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal:    #20c997 !default;
$cyan:    #0dcaf0 !default;